.about-section{
    margin-bottom: 100px;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-text{
    padding: 10px 13%;
}
.about-images{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.about-images img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
    position: relative;
}
img[alt="Little lemon chefs pic"]{
    right: 10px;
    top: 50px;
}
img[alt="Little lemon sous chef pic"]{
    left: 30px;
    bottom: -230px;
}
h1{
    font-size: 40px;
    font-weight: bold;
    color: #F4CE14;
}
.about-location{
    font-size: 30px;
    font-weight: bold;
    color: #495e57;
}
.about-text p{
    width: 400px;
    font-size: 18px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-text, .about-images {
        padding: 10px;
    }

    .about-text p {
        width: 400px;
    }

    .about-images img {
        width: 150px;
        height: 150px;
        position: relative;
    }
    img[alt="Little lemon chefs pic"]{
        right: 10px;
        top: 10px;
    }
    img[alt="Little lemon sous chef pic"]{
        left: 30px;
        bottom: -100px;
    }
}
